<header>
  <div class="container">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
           <div class="logo">
              <a href="/" title="logo"> DIGISTALL</a>
           </div>
           <div class="mob-menu">
              <span>
                 <i class="fa fa-bars"></i>
              </span>
           </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-9">
           <div class="main-menu">
              <ul class="nav">
                 <li><a routerLink="/"> Home </a> </li>
                 <li><a routerLink="OurServices" > Our Services </a> </li>
                 <li><a routerLink="OurServices"> Products </a> </li>
                 <li><a routerLink="About"> About Us </a> </li>
                <li><a  routerLink="Contact"> Contact Us </a> </li>
                 </ul>
              <ul class="right-nav">
                  <!-- <li><a href="#"> <i class="fa fa-user"></i> Log in </a> </li> -->
                <li class="active"> <a href="#"> <i class="fa fa-sign-in"></i> Admin </a> </li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</header>

